/* Overrides for Commento to make it more readable in dark mode */

.commento-root-font * {
    font-family: var(--font-sans-serif);
}

html.dark-mode .commento-root *,
html.dark-mode .commento-root .commento-anonymous-checkbox-container input[type=checkbox]+label,
html.dark-mode .commento-root .commento-card .commento-name,
html.dark-mode .commento-root .commento-logged-container .commento-logged-in-as .commento-name,
html.dark-mode .commento-root .commento-logged-container .commento-profile-button,
html.dark-mode .commento-root .commento-login .commento-login-text,
html.dark-mode .commento-root .commento-sort-policy-buttons-container .commento-sort-policy-buttons .commento-sort-policy-button {
    color: rgba(255, 255, 255, 0.9);
}

html.dark-mode .commento-root .commento-footer .commento-logo-container .commento-logo-text {
    color: rgba(255, 255, 255, 0.7);
}
