/*

Adding file paths to the custom fonts used in the website.

Font extensions:

* woff2 - Super Modern Browsers
* woff  - Pretty Modern Browsers
* ttf   - Safari, Android, iOS

*/

/* Dubai - sans serif */

@font-face {
    font-family: 'Dubai';

    font-display: swap;
    src: url('../../fonts/dubai-regular.woff2') format('woff2'),
    url('../../fonts/dubai-regular.woff') format('woff'),
    url('../../fonts/dubai-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 300;

    font-display: swap;
    src: url('../../fonts/dubai-light.woff2') format('woff2'),
    url('../../fonts/dubai-light.woff') format('woff'),
    url('../../fonts/dubai-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 500;

    font-display: swap;
    src: url('../../fonts/dubai-medium.woff2') format('woff2'),
    url('../../fonts/dubai-medium.woff') format('woff'),
    url('../../fonts/dubai-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/dubai-bold.woff2') format('woff2'),
    url('../../fonts/dubai-bold.woff') format('woff'),
    url('../../fonts/dubai-bold.ttf') format('truetype');
}

/* Andada - serif */

@font-face {
    font-family: 'Andada';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/andada-bold.woff2') format('woff2'),
    url('../../fonts/andada-bold.woff') format('woff'),
    url('../../fonts/andada-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';
    font-weight: bold;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/andada-bolditalic.woff2') format('woff2'),
    url('../../fonts/andada-bolditalic.woff') format('woff'),
    url('../../fonts/andada-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/andada-italic.woff2') format('woff2'),
    url('../../fonts/andada-italic.woff') format('woff'),
    url('../../fonts/andada-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';

    font-display: swap;
    src: url('../../fonts/andada-regular.woff2') format('woff2'),
    url('../../fonts/andada-regular.woff') format('woff'),
    url('../../fonts/andada-regular.ttf') format('truetype');
}

/* Cascadia Code - monospaced */

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 200;

    font-display: swap;
    src: url('../../fonts/cascadiacode-extralight.woff2') format('woff2'),
    url('../../fonts/cascadiacode-extralight.woff') format('woff'),
    url('../../fonts/cascadiacode-extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 300;

    font-display: swap;
    src: url('../../fonts/cascadiacode-light.woff2') format('woff2'),
    url('../../fonts/cascadiacode-light.woff') format('woff'),
    url('../../fonts/cascadiacode-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';

    font-display: swap;
    src: url('../../fonts/cascadiacode-regular.woff2') format('woff2'),
    url('../../fonts/cascadiacode-regular.woff') format('woff'),
    url('../../fonts/cascadiacode-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 600;

    font-display: swap;
    src: url('../../fonts/cascadiacode-semibold.woff2') format('woff2'),
    url('../../fonts/cascadiacode-semibold.woff') format('woff'),
    url('../../fonts/cascadiacode-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/cascadiacode-bold.woff2') format('woff2'),
    url('../../fonts/cascadiacode-bold.woff') format('woff'),
    url('../../fonts/cascadiacode-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 200;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-extralightitalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-extralightitalic.woff') format('woff'),
    url('../../fonts/cascadiacode-extralightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 300;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-lightitalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-lightitalic.woff') format('woff'),
    url('../../fonts/cascadiacode-lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-italic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-italic.woff') format('woff'),
    url('../../fonts/cascadiacode-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 600;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-semibolditalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-semibolditalic.woff') format('woff'),
    url('../../fonts/cascadiacode-semibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-bolditalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-bolditalic.woff') format('woff'),
    url('../../fonts/cascadiacode-bolditalic.ttf') format('truetype');
}

/* Root variables */

/* Set default fonts */

:root {
    --font-sans: 'Dubai';
    --font-serif: 'Andada';
    --font-mono: 'Cascadia Code';
    --ghost-accent-color-dark-mode: rgba(255, 255, 255, .9);
}

/* Use default fonts */

code,
kbd,
pre,
samp {
    font-family: var(--font-mono);
}

/* Bigger post subtitle */

.article-excerpt {
    font-size: clamp(2.5rem, 2.8vw, 3rem);
}

/* Justify post content */

.gh-content {
    text-align: justify;
}

/* Remove scrollbar for author and tag description */

:is(.tag-template, .author-template) .post-card-large .post-card-excerpt {
    overflow-y: hidden;
}

/* Enable pagination */

.pagination {
    display: inherit;
}

/* Byline in post card */

.post-card-meta-content {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2em;

    display: flex;
    align-items: start;
    flex: 1 1 50%;
    flex-direction: column;

    margin: 0 0 0 8px;

    color: #90a2aa;
}

.post-card-meta > * + *:not(script)::before {
    content: unset;
}

.post-card-meta-content span {
    margin: 0;
}

html.auto-color .post-card-meta-content .author-name a {
    color: #fff;
}

html.dark-mode .post-card-meta-content .author-name a {
    color: #fff;
}
