/*

Adding file paths to the custom fonts used in the website.

Font extensions:

* woff2 - Super Modern Browsers
* woff  - Pretty Modern Browsers
* ttf   - Safari, Android, iOS

*/

/* Dubai - sans serif */

@font-face {
    font-family: 'Dubai';

    font-display: swap;
    src: url('../../fonts/dubai-regular.woff2') format('woff2'),
    url('../../fonts/dubai-regular.woff') format('woff'),
    url('../../fonts/dubai-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 300;

    font-display: swap;
    src: url('../../fonts/dubai-light.woff2') format('woff2'),
    url('../../fonts/dubai-light.woff') format('woff'),
    url('../../fonts/dubai-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 500;

    font-display: swap;
    src: url('../../fonts/dubai-medium.woff2') format('woff2'),
    url('../../fonts/dubai-medium.woff') format('woff'),
    url('../../fonts/dubai-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/dubai-bold.woff2') format('woff2'),
    url('../../fonts/dubai-bold.woff') format('woff'),
    url('../../fonts/dubai-bold.ttf') format('truetype');
}

/* Andada - serif */

@font-face {
    font-family: 'Andada';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/andada-bold.woff2') format('woff2'),
    url('../../fonts/andada-bold.woff') format('woff'),
    url('../../fonts/andada-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';
    font-weight: bold;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/andada-bolditalic.woff2') format('woff2'),
    url('../../fonts/andada-bolditalic.woff') format('woff'),
    url('../../fonts/andada-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/andada-italic.woff2') format('woff2'),
    url('../../fonts/andada-italic.woff') format('woff'),
    url('../../fonts/andada-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';

    font-display: swap;
    src: url('../../fonts/andada-regular.woff2') format('woff2'),
    url('../../fonts/andada-regular.woff') format('woff'),
    url('../../fonts/andada-regular.ttf') format('truetype');
}

/* Cascadia Code - monospaced */

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 200;

    font-display: swap;
    src: url('../../fonts/cascadiacode-extralight.woff2') format('woff2'),
    url('../../fonts/cascadiacode-extralight.woff') format('woff'),
    url('../../fonts/cascadiacode-extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 300;

    font-display: swap;
    src: url('../../fonts/cascadiacode-light.woff2') format('woff2'),
    url('../../fonts/cascadiacode-light.woff') format('woff'),
    url('../../fonts/cascadiacode-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';

    font-display: swap;
    src: url('../../fonts/cascadiacode-regular.woff2') format('woff2'),
    url('../../fonts/cascadiacode-regular.woff') format('woff'),
    url('../../fonts/cascadiacode-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 600;

    font-display: swap;
    src: url('../../fonts/cascadiacode-semibold.woff2') format('woff2'),
    url('../../fonts/cascadiacode-semibold.woff') format('woff'),
    url('../../fonts/cascadiacode-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/cascadiacode-bold.woff2') format('woff2'),
    url('../../fonts/cascadiacode-bold.woff') format('woff'),
    url('../../fonts/cascadiacode-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 200;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-extralightitalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-extralightitalic.woff') format('woff'),
    url('../../fonts/cascadiacode-extralightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 300;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-lightitalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-lightitalic.woff') format('woff'),
    url('../../fonts/cascadiacode-lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-italic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-italic.woff') format('woff'),
    url('../../fonts/cascadiacode-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 600;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-semibolditalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-semibolditalic.woff') format('woff'),
    url('../../fonts/cascadiacode-semibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-bolditalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-bolditalic.woff') format('woff'),
    url('../../fonts/cascadiacode-bolditalic.ttf') format('truetype');
}

/* Root variables */

/* Set default fonts */

:root {
    --font-sans: 'Dubai';
    --font-serif: 'Andada';
    --font-mono: 'Cascadia Code';
    --ghost-accent-color-dark-mode: rgba(255, 255, 255, .9);
}

/* Use default fonts */

code,
kbd,
pre,
samp {
    font-family: var(--font-mono);
}

/* Bigger post subtitle */

.article-excerpt {
    font-size: clamp(2.5rem, 2.8vw, 3rem);
}

/* Justify post content */

.gh-content {
    text-align: justify;
}

/* Remove scrollbar for author and tag description */

:is(.tag-template, .author-template) .post-card-large .post-card-excerpt {
    overflow-y: hidden;
}

/* Enable pagination */

.pagination {
    display: inherit;
}

/* Byline in post card */

.author-avatar {
    width: min(40px, 13.6vmin);
    height: min(40px,13.6vmin);
}

.post-card-meta-content {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2em;

    display: flex;
    align-items: flex-start;
    flex: 1 1 50%;
    flex-direction: column;

    margin: 0 0 0 8px;

    color: #90a2aa;
}

.post-card-meta > * + *:not(script)::before {
    content: unset;
}

.post-card-meta-content span {
    margin: 0;
}

html.auto-color .home-section a,
html.auto-color .post-card-meta-content .author-name a,
html.auto-color .prev-next a {
    color: #fff;
}

html.dark-mode .home-section a,
html.dark-mode .post-card-meta-content .author-name a,
html.dark-mode .prev-next a {
    color: #fff;
}

/* Home page */

.gh-home {
    padding: 4vmin 0;
}

.post-feed {
    padding: max(4.8vmin, 36px) 0;

    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1001px) {
    .post-card {
        grid-column: unset;
    }

    .post-card-large {
        grid-column: 1/span 3;
        grid-template-columns: repeat(3, 1fr);
    }

    .post-card.dynamic {
        grid-column: unset;
    }
}

.has-cover .site-header-content {
    min-height: 250px;
    max-height: 400px;
}

.has-cover :is(.site-logo,.site-title) + .site-description {
    font-size: 2.4rem;
}

.site-logo {
    max-height: 55px;
}

/* Dark mode toggle */

:root[color-mode='light'] .light--hidden {
    display: none;
}

:root[color-mode='dark'] .dark--hidden {
    display: none;
}

.color-mode-btn {
    margin-right: 5px;

    cursor: pointer;

    opacity: .8;
    color: #111;
    border: none;
    background: none;
}

.color-mode-btn svg {
    width: 22px;
    height: 22px;

    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}

.color-mode-btn:hover svg,
.color-mode-btn:focus svg,
.color-mode-btn focus {
    outline: none;

    fill: #fff;
}

.gh-social-link svg {
    width: 22px;
    height: 22px;

    fill: #fff;
}

.gh-icon-btn svg {
    width: 22px;
    height: 22px;
}

.gh-head-logo img {
    max-height: 26px;
}

.read-more {
    grid-template-columns: repeat(3, 1fr);
}

/* Previous and next at bottom of post */

.prev-next {
    display: grid;

    margin: 10px 0 0 0;

    grid-template-columns: 1fr 1fr;
}

.prev-post {
    text-align: left;
}

.next-post {
    text-align: right;
}

/* hr */

hr {
    border: 1px solid var(--ghost-accent-color);
}

html.auto-mode hr {
    border: 1px solid var(--ghost-accent-color-dark-mode);
}

html.dark-mode hr {
    border: 1px solid var(--ghost-accent-color-dark-mode);
}

.read-more-wrap {
    margin-bottom: calc(0px - max(12vmin, 64px));
    padding: 4vmin;

    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    background: #0a0b0c;
}

/* Top header sticky */

.gh-head {
    position: -webkit-sticky;
    position:         sticky; /* Check support on https://caniuse.com/?search=sticky. Supported for 95.34% of users */
    z-index: 4000;
    top: 0; /* Prevents content from scrolling on top of header */
}

/* Progress bar */

progress.reading-progress-bar {
    position: fixed;
    z-index: 100;

    width: 100%;
    height: 5px;

    appearance: none;
}

progress.reading-progress-bar[value]::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, .5);
}

progress.reading-progress-bar[value]::-webkit-progress-value {
    background-color: #30b6fd;
}

html.dark-mode progress.reading-progress-bar[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, .5);
}

/* Blockquote and small blockquote */

.has-sans-body .gh-content>blockquote {
    font-family: var(--font-mono);
}

.gh-content>blockquote::before {
    display: none;
}

.gh-content>blockquote.small {
    font-family: var(--font-serif);
    font-size: 1.8rem;
    font-weight: bold;
    font-style: normal;

    margin-top: 3vmin !important;
}

.gh-content>blockquote.small::before {
    display: inherit;
}
