/*

Adding file paths to the custom fonts used in the website.

Font extensions:

* woff2 - Super Modern Browsers
* woff  - Pretty Modern Browsers
* ttf   - Safari, Android, iOS

*/

/* Dubai - sans serif */

@font-face {
    font-family: 'Dubai';

    font-display: swap;
    src: url('../../fonts/dubai-regular.woff2') format('woff2'),
    url('../../fonts/dubai-regular.woff') format('woff'),
    url('../../fonts/dubai-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 300;

    font-display: swap;
    src: url('../../fonts/dubai-light.woff2') format('woff2'),
    url('../../fonts/dubai-light.woff') format('woff'),
    url('../../fonts/dubai-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: 500;

    font-display: swap;
    src: url('../../fonts/dubai-medium.woff2') format('woff2'),
    url('../../fonts/dubai-medium.woff') format('woff'),
    url('../../fonts/dubai-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Dubai';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/dubai-bold.woff2') format('woff2'),
    url('../../fonts/dubai-bold.woff') format('woff'),
    url('../../fonts/dubai-bold.ttf') format('truetype');
}

/* Andada - serif */

@font-face {
    font-family: 'Andada';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/andada-bold.woff2') format('woff2'),
    url('../../fonts/andada-bold.woff') format('woff'),
    url('../../fonts/andada-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';
    font-weight: bold;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/andada-bolditalic.woff2') format('woff2'),
    url('../../fonts/andada-bolditalic.woff') format('woff'),
    url('../../fonts/andada-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/andada-italic.woff2') format('woff2'),
    url('../../fonts/andada-italic.woff') format('woff'),
    url('../../fonts/andada-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Andada';

    font-display: swap;
    src: url('../../fonts/andada-regular.woff2') format('woff2'),
    url('../../fonts/andada-regular.woff') format('woff'),
    url('../../fonts/andada-regular.ttf') format('truetype');
}

/* Cascadia Code - monospaced */

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 200;

    font-display: swap;
    src: url('../../fonts/cascadiacode-extralight.woff2') format('woff2'),
    url('../../fonts/cascadiacode-extralight.woff') format('woff'),
    url('../../fonts/cascadiacode-extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 300;

    font-display: swap;
    src: url('../../fonts/cascadiacode-light.woff2') format('woff2'),
    url('../../fonts/cascadiacode-light.woff') format('woff'),
    url('../../fonts/cascadiacode-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';

    font-display: swap;
    src: url('../../fonts/cascadiacode-regular.woff2') format('woff2'),
    url('../../fonts/cascadiacode-regular.woff') format('woff'),
    url('../../fonts/cascadiacode-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 600;

    font-display: swap;
    src: url('../../fonts/cascadiacode-semibold.woff2') format('woff2'),
    url('../../fonts/cascadiacode-semibold.woff') format('woff'),
    url('../../fonts/cascadiacode-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;

    font-display: swap;
    src: url('../../fonts/cascadiacode-bold.woff2') format('woff2'),
    url('../../fonts/cascadiacode-bold.woff') format('woff'),
    url('../../fonts/cascadiacode-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 200;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-extralightitalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-extralightitalic.woff') format('woff'),
    url('../../fonts/cascadiacode-extralightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 300;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-lightitalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-lightitalic.woff') format('woff'),
    url('../../fonts/cascadiacode-lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-italic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-italic.woff') format('woff'),
    url('../../fonts/cascadiacode-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: 600;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-semibolditalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-semibolditalic.woff') format('woff'),
    url('../../fonts/cascadiacode-semibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: bold;
    font-style: italic;

    font-display: swap;
    src: url('../../fonts/cascadiacode-bolditalic.woff2') format('woff2'),
    url('../../fonts/cascadiacode-bolditalic.woff') format('woff'),
    url('../../fonts/cascadiacode-bolditalic.ttf') format('truetype');
}

/* Root variables */

/* Set default fonts */

:root {
    --font-sans-serif: 'Dubai';
    --font-serif: 'Andada';
    --font-mono: 'Cascadia Code';
    --ghost-accent-color-dark-mode: rgba(255, 255, 255, 0.9);
}

/* Dark mode toggle */

:root[color-mode='light'] .light--hidden {
    display: none;
}

:root[color-mode='dark'] .dark--hidden {
    display: none;
}

/* Use default fonts */

body {
    font-family: var(--font-sans-serif);
}

code,
kbd,
pre,
samp {
    font-family: var(--font-mono);
}

/* Dark mode toggle */

.color-mode-btn {
    margin-right: 5px;

    cursor: pointer;

    opacity: 0.8;
    color: #111;
    border: none;
    background: none;
}

.color-mode-btn svg {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}

.color-mode-btn:hover svg,
.color-mode-btn:focus svg,
.color-mode-btn focus {
    outline: none;

    fill: #fff;
}

/* hr */

hr {
    border: 1px solid var(--ghost-accent-color);
}

html.dark-mode hr {
    border: 1px solid var(--ghost-accent-color-dark-mode);
}

/* Top header sticky */

.gh-head {
    position: -webkit-sticky;
    position:         sticky; /* Check support on https://caniuse.com/?search=sticky. Supported for 95.34% of users */
    z-index: 4000; /* Prevents content from scrolling on top of header */
    top: 0;
}

/* Justify post content and use sans serif font */

.gh-content {
    text-align: justify;
}

.gh-content > ol,
.gh-content > ul,
.gh-content > dl,
.gh-content > p {
    font-family: var(--font-sans-serif);
}

/* Blockquote and small blockquote */

.gh-content > blockquote {
    font-family: var(--font-mono);
}

.gh-content > blockquote::before {
    display: none;
}

.gh-content > blockquote.small {
    font-family: var(--font-serif);
    font-size: 1.8rem;
    font-weight: bold;
    font-style: normal;

    margin-top: 3vmin !important;
}

.gh-content > blockquote.small::before {
    display: inherit;
}

/* Dark mode for missing elements */

html.dark-mode .article-tag,
html.dark-mode .error-code,
html.dark-mode .post-card-primary-tag {
    color: var(--ghost-accent-color-dark-mode);
}

html.dark-mode a.error-link,
html.dark-mode a.newer-posts,
html.dark-mode a.older-posts,
html.dark-mode .article-tag a,
html.dark-mode .gh-content a,
html.dark-mode .home-section a {
    color: rgba(255, 255, 255, 0.75);
}

html.dark-mode figcaption {
    color: rgba(255, 255, 255, 0.6);
}

html.dark-mode .gh-content > blockquote::before {
    background: var(--ghost-accent-color-dark-mode);
}

/* Progress bar */

progress.reading-progress-bar {
    position: fixed;
    z-index: 100;

    width: 100%;
    height: 5px;

    appearance: none;
}

progress.reading-progress-bar[value]::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.5);
}

progress.reading-progress-bar[value]::-webkit-progress-value {
    background-color: #30b6fd;
}

html.dark-mode progress.reading-progress-bar[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Post content */

.article-excerpt {
    font-size: 3rem;

    opacity: 1;
}

/* Content pagination */

.pagination {
    text-align: center;

    grid-column: 1/4;
}

/* Author page */

.author-profile h1 {
    font-size: 4.8rem;
}

.author-profile-social-link {
    font-size: 2rem;

    padding: 0 0 10px;
}

.author-template .posts {
    grid-template-columns: 1fr;
}

.author-template .posts .post-feed {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px) {
    .author-template .posts .post-feed {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 650px) {
    .author-template .posts {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .author-template .posts .post-feed {
        grid-column: 1 / auto;
    }
}

/* Home page */

.gh-home {
    padding: 4vmin 0;
}

.home-section {
    grid-column: 1/4;
}

/* Responsive design on home page */

@media (max-width: 1000px) {
    .post-feed {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .post-feed {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}

/* Social icons */

.gh-social-rss svg,
.gh-social-twitter svg {
    width: 20px;
    height: 20px;
}
